@font-face {
    font-family: "ProLamina";
    src: url(/site_tetris/fontes/prolamina/CT\ ProLamina.ttf) format("truetype");
}
@font-face {
    font-family: "Coolvetica";
    src: url(/site_tetris/fontes/coolvetica/coolvetica\ rg.otf) format("opentype");
}
h1 {
    font-family: "ProLamina", sans-serif;
    color: white;
    font-size: 216px;
    font-weight: 400;
}
p {
    font-family: "Coolvetica", sans-serif;
    color: white;
    font-size:96px;
}
body {
    font-weight: normal;
    background-color: #242424;
}