.titulo {
    font-size: 90px;
}

.legenda {
    font-size: 30px;
}

.texto {
    font-size: 30px;
    margin-top:112px;
    margin-right: 236px;
}

img{
    margin-left:248px
}

p {margin-left:1052px}

body {
    height: 1443px;
    text-align:justify;
}